:root {
  --font-color: #5d737eff;
  --celeste: #c0fdfbff;
  --aero-blue: #daffefff;
  --background: #fcfffdff;
  --maximum-blue-green: #5dc1b9ff;
  --title-color: #256D85;
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
.size-title {
  text-align: center;
  color: var(--title-color);
}

.info-compra a {
  text-decoration: none;
  color: blue;
}
