---
import { ViewTransitions } from "astro:transitions";
import "../../styles/global.css";
import Header from "../Header.astro";
import Footer from "../Footer.astro";
import BaseHead, { type Props as BaseHeadProps } from "../base/BaseHead.astro";
import { defaultJsonLd } from "../../seo/schema/jsonLd";
import type { StoreServiceJsonLd, TJsonLd } from "../../types/TJsonLd";

interface Props extends BaseHeadProps {}

const { jsonLd, description,...headProps } = Astro.props;

const layoutDefaultJsonLd:StoreServiceJsonLd = Object.assign({}, defaultJsonLd);
layoutDefaultJsonLd.description = description;

const finalJsonLd:TJsonLd = jsonLd === undefined ? layoutDefaultJsonLd : jsonLd;
---

<!doctype html>
<html lang="es">
  <BaseHead {...headProps} jsonLd={finalJsonLd} />
    <!-- Fuentes -->
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- Iconos -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/assets/img/icons/iconConatumex.ico"
    />
    <ViewTransitions />
  </BaseHead>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
