---
import { ViewTransitions } from "astro:transitions";
import "../../styles/global.css";
import Header from "../Header.astro";
import Footer from "../Footer.astro";
import BaseHead, { type Props as BaseHeadProps } from "../base/BaseHead.astro";
import { MAIN_URL, MAIN_NAME, telephones, email, listOfSocialLinks } from "../../constants/info";
import type { TJsonLd } from "../../types/jsonLd";

interface Props extends BaseHeadProps {}

const { jsonLd, description,...headProps } = Astro.props;

const descriptionDefault = "Pomada para los dolores, suplementos y mas"

const defaultJsonLd:TJsonLd = {
  "@context": "https://schema.org",
  "@type": "ProfessionalService",
  "name": MAIN_NAME,
  "url": MAIN_URL,
  "logo": `${MAIN_URL}/assets/big-logo.jpg`,
  "description": description ?? descriptionDefault,
  "telephone": String(telephones.info.num),
  "email": email.info,
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Monterrey",
    "addressRegion": "Nuevo León",
    "addressCountry": "MX"
  },
  "areaServed": [
    { "@type": "Country", "name": "México" },
    { "@type": "Place", "name": "Monterrey, Nuevo León, México" }
  ],
  "sameAs": listOfSocialLinks
};
const finalJsonLd:TJsonLd = jsonLd === undefined ? defaultJsonLd : jsonLd;

---

<!doctype html>
<html lang="es">
  <BaseHead {...headProps} jsonLd={finalJsonLd} />
    <!-- Fuentes -->
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- Iconos -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/assets/img/icons/iconConatumex.ico"
    />
    <ViewTransitions />
  </BaseHead>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
