---
import ContactInfo from "../components/ContactInfo.astro";
import Layout from "../components/layout/Layout.astro";
import MapCard from "../components/cards/MapCard.astro";
---

<Layout title="Ubicación">
  <section class="contact-header-section">
    <div class="contact-header">
      <h2>Contacto</h2>
      <p>
        Encuéntranos en nuestra sucursal y descubre todas las formas en las que
        puedes adquirir nuestros productos.
      </p>
    </div>
  </section>
  <section class="contact-section">
    <div class="container">
      <ContactInfo />
      <MapCard />
    </div>
  </section>
  <section class="whatsapp-contact">
    <div class="container-whatsapp">
      <h2 class="section-title-whatsapp">¿Quieres hacer un pedido?</h2>
      <p class="whatsapp-text">No esperes más. Contáctanos hoy mismo:</p>
      <a
        href="https://wa.me/528128927810"
        class="whatsapp-button"
        target="_blank"
        rel="noopener"
      >
        <i class="fab fa-whatsapp"></i> Enviar mensaje
      </a>
    </div>
  </section>
</Layout>

<style>
  .contact-header-section {
    text-align: center;
    padding: 80px 0 0 0;
    margin-top: 50px;
  }

  .contact-header h2 {
    font-size: 2.5rem;
    color: var(--title);
    margin-bottom: 10px;
  }

  .contact-header p {
    font-size: 1.1rem;
    color: var(--text);
    /* margin-bottom: 40px; */
  }

  .contact-section {
    /* background-color: #f8f9fa; */
    padding: 80px 0;
    /* text-align: center; */
  }

  .contact-section h2 {
    text-align: center;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .whatsapp-contact {
    padding: 50px 0;
    text-align: center;
    background-color: #e9f7ef;
  }

  .whatsapp-text {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .whatsapp-button {
    display: inline-block;
    background-color: rgb(98, 158, 149);
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .whatsapp-button i {
    margin-right: 8px;
  }

  .whatsapp-button:hover {
    background-color: var(--tiffany-blue);
  }

  .container-whatsapp {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
  }
  .section-title-whatsapp {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #2c3e50;
  }

  @media (max-width: 768px) {
    .section-title-whatsapp {
      font-size: 1.6rem;
    }
    .container {
      grid-template-columns: 1fr;
    }
    .contact-section {
      padding: 20px 0;
    }
    .map-card {
      padding: 30px;
    }
    .map-card iframe {
      height: 25rem;
    }
    .contact-header {
      padding: 10px 20px;
    }
    .contact-info-card {
      padding: 30px;
      text-align: center;
    }
    .info-item {
      flex-direction: column;
    }
  }
</style>
