---
import Hero from "../components/Hero.astro";
import Layout from "../components/layout/Layout.astro";
import { MAIN_URL } from "../constants/info";
import { telephones } from "../constants/info";
import { address } from "../constants/info";
import type { TJsonLd } from "../types/TJsonLd";
import {logoChico} from "../constants/logoUrl"
import { heroHome, homeJsonLd } from "../constants/pages/home";

---

<Layout title="Génesis del Norte, Conatumex" jsonLd={homeJsonLd}>
	<main>
		<Hero {...heroHome}></Hero>
	</main>
</Layout>
