---
import Hero from "../components/Hero.astro";
import Layout from "../components/layout/Layout.astro";


---

<Layout title="Génesis del Norte, Conatumex">
	<main>
		<Hero></Hero>
	</main>
</Layout>
