---
import AboutUsCard from "../components/AboutUsCard.astro";
import Layout from "../components/layout/Layout.astro";
import mision from "../components/icons/mision.svg";
import vision from "../components/icons/vision.svg";
import valores from "../components/icons/valores.svg";
import productos from "../components/icons/productos.svg";

const aboutUsData = [
          {
            title: "Misi칩n",
            altClass: "mission",
            description:
              "Contribuir a la mejora y el desarrollo del servicio al cliente en la venta de productos naturistas en Monterrey.",
            icon: mision,
          },
          {
            title: "Visi칩n",
            altClass: "vision",
            description:
              "Obtener reconocimiento a nivel empresarial y social dentro de la industria en la venta de productos naturistas.",
            icon: vision,
          },
          {
            title: "Valores",
            altClass: "valores",
            icon: valores,
            description: [
              {
                title: "Calidad",
                description: "En cada uno de nuestros productos.",
              },
              {
                title: "Compromiso",
                description: "Con nuestros clientes y el medio ambiente.",
              },
              {
                title: "Honestidad",
                description: "En todas nuestras operaciones.",
              },
              { title:"Entregas", description: "En tiempo y forma." },
            ],
          },
          {
            title: "Nuestros Productos",
            altClass: "productos",
            icon: productos,
            description:
              "Todos nuestros productos son cuidadosamente seleccionados para asegurar la m치xima calidad y pureza. Nuestro compromiso es contigo y tu bienestar.",
          },
        ];
---

<Layout title="Nosotros">
  <section class="about-us-section">
    <div class="container">
      <div class="about-us-header">
        <h2>Nuestra Misi칩n y Valores</h2>
        <p>
          Conoce la esencia que nos impulsa a crecer y a ofrecer lo mejor para
          tu bienestar.
        </p>
      </div>
      <AboutUsCard
        content={aboutUsData}
      />
    </div>
  </section>
</Layout>
<style>
  .about-us-section {
    /* background-color: var(--background); */
    padding: 80px 0;
    margin-top: 50px;
    text-align: center;
  }
  .about-us-header h2 {
    font-size: 2.5rem;
    color: var(--title);
    margin-bottom: 10px;
  }
  .about-us-header p {
    font-size: 1.1rem;
    color: var(--text);
    margin-bottom: 40px;
  }
  @media (max-width: 768px) {
    .about-us-section {
      padding: 50px 0;
    }
    .about-us-header h2 {
      font-size: 2rem;
    }

    .about-us-header p {
      font-size: 1rem;
      margin-bottom: 20px;
    }
  }
  .about-us-section h2,
  .about-us-section h3 {
    font-family: "Poppins", sans-serif;
  }
</style>
